# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=EPG_Coin
Comment=EPG_Coin QT main network
GenericName=EPG_Coin Digital Currency QT client main network
Exec=encocoinplus_coin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/encocoinplus_coin.png
MimeType=x-scheme-handler/encocoinplus_coin;
Categories=X-Office;X-Finance;
Keywords=internet;encocoinplus_coin;zencocoinplus;encocoinplus;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=encocoinplus-qt.desktop
